<app-record-modal [visible]="record_visible" [meta]="metadata" (stop_record)="handleStopRecord()"></app-record-modal>
<app-roscore-modal [visible]="roscore_visible"  (refresh)="try_ros()"></app-roscore-modal>
<app-recorder-modal [visible]="recorder_visible" ></app-recorder-modal>
<div class="flex flex-row overflow-hidden">
  <div *ngIf="rostopic_list.length" class="w-4/12 border border-b-fuchsia-800 border-r-2"><app-panel (record)="handleRosbagMetadata($event)"></app-panel></div>
  <app-topic-list *ngIf="rostopic_list.length" class="w-8/12 mat-app-background h-screen" [rostopic_list]="rostopic_list" (refresh_topics)="try_ros()" (change_topics)="handleSelectTopic($event)"></app-topic-list>
</div>

