<div class="w-full h-full flex flex-col gap-3 p-3 justify-around ">
  <div class="w-full h-full flex flex-col gap-3 justify-top ">
  <div>
    <label class="text-sm">ROSBAG name:</label>
    <input pInputText type="text" class="p-inputtext-sm p-1 w-full" [(ngModel)]="data.name"/>
  </div>
  <div>
    <label class="text-sm">Duration:</label>
    <div class="w-full flex flex-row gap-3">
      <p-checkbox [(ngModel)]="data.duration" [binary]="true" inputId="binary" (click)="refresh()"></p-checkbox>
      <input pInputText type="number" class="p-inputtext-sm p-1 w-full" placeholder="time [s]"
             [(ngModel)]="data.duration_value" [disabled]="!data.duration"/>
    </div>
  </div>

  <div>
    <label class="text-sm">Records limit:</label>
    <div class="w-full flex flex-row gap-3">
      <p-checkbox [(ngModel)]="data.records_limit" (click)="refresh()" [binary]="true" inputId="binary"></p-checkbox>
      <input pInputText type="number" class="p-inputtext-sm p-1 w-full"  [(ngModel)]="data.records_limit_value" [disabled]="!data.records_limit"/>
    </div>
  </div>
  </div>

  <button pButton pRipple label="Record" class="p-button-primary" (click)="start_record()"></button>


</div>


